{% extends 'base.html' %}
{% load static %}
{% load get_group %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}
{% block body %}
    <div>
        <h1 class="task-h1">Lalit TODO List</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row mt-4 mb-4">
            <div class="col-3">
                {{ form.title.label }}
                {{ form.title }}
            </div>
            <div class="col-3">
                {{ form.assign_to.label }}
                {{ form.assign_to }}
            </div>
            <div class="col-3">
                {{ form.completed.label }}
                {{ form.completed }}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Task</th>
            <th scope="col">Completion Status</th>
            <th scope="col">Assign To</th>
            <th scope="col">Creator</th>
            <th scope="col">Modifier</th>
            <th scope="col">Created At</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.completed }}</td>
                <td>{{ task.assign_to }}</td>
                <td>{{ task.creator }}</td>
                <td>{{ task.modifier }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    {% if request.user|has_group:'admin' %}
                        <a href="{% url 'class_task_update' task.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}